@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10px 20px 6px 20px;
    background: white;
    height: 64px;
}

.logo img {
    width: 100%;
    height: auto;
}

.ant-layout{
background: linear-gradient(235.89deg, #39B8FF 0%, rgba(121, 57, 255, 0.58) 100%);
}
.ant-layout.site-layout {
    background: url("/images/background/1.png") no-repeat;
    background-position: 7% 18%;
    background-size: 100% 200%;
}

.ant-layout-sider-children {
    background: #fff;
}

.ant-layout-sider-trigger {
    background: black;
}

.header {
    background: white;
}

.ant-menu-submenu > .ant-menu {
    background: #c2c2c22e;
}

.mainpage .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.mainpage .wrapper .block1 {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin-left: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    height: 100%;
    font-weight: 800;
    font-size: 55px;
    line-height: 145%;
    justify-content: center;
    justify-items: center;
}

.mainpage .wrapper .block1 p {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 60px;
}

.mainpage .wrapper .block2 {
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 700px;
    max-height: 700px;
}

.mainpage .wrapper .block2 img {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-right: 50px;
}

.site-layout-background {
    height: 100%;
    display: flex;
    justify-content: center;
}

.ant-layout-footer {
    background: transparent;
}